body{
    background-color: #000;
}

.text-header{
    
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 3% 20%;
}

.opp-my-color{
    color: #fff;
}

h1{
    font-size: 3em;
}

p{
    font-size: 2em;
    line-height: 1.75em;
}

.link-icon{
    text-decoration: none;
    margin: 0 2%
}

footer{
    text-align: center;

}

img{
    max-width: 100%;
}

.work-examples{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 3% 5%;
    font-size: 0.7em
}

.example-photo{width: 90%; margin: 0 auto;}

.example-row{display: flex; flex-direction: row; justify-content: space-between;}

.example-item{display: flex; flex-direction: column;}


footer{
    margin-bottom: 3%;
}

@media only screen and (orientation: portrait){
    .text-header{margin: 5% 5%;}
    p{font-size: 1.2em; line-height: 1.3em;}
}
